@import "mixins";

/* GLOBAL */
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}

.notImplemented {
  display: none;
}

.hidden {
  visibility: hidden;
}

.container {
  max-width: $desktopWidth;
  margin: auto;
  display: flex;
  position: relative;

  @include desktop{
    max-width: $laptopWidth;
  }

  @include laptop{
    max-width: $tabletsWidth;
  }

  @include tablets{
    max-width: $phonesWidth;
  }

  @include phones{
    max-width: 100%;
    padding: 10px;
  }
}

.titleBlock {
  align-self: center;
  width: $desktopWidth;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  h2 {
    color: #E9F2FF;
    position: relative;
    font-size: 36px;
    &:before {
      @include icon("../images/horizontal_line.png", 200px, 2px);
      top: 45px;
    }
  }

  p {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;

    width: 638px;
    &:before {
      @include icon("../images/small_vertical_line.png", 2px, 100px, true, absolute);
      left: -10px;
    }
  }
}
/* /GLOBAL */

/* FIRST SCREEN */
.firstScreenWrapper {
  position: relative;
  z-index: 999;
  color: white;
  background: rgba(40,46,58, 0.9);
  padding: 0 0 130px 0;
  overflow: hidden;
  height: 1000px;
  box-sizing: border-box;

  @include phones{
    padding: 10px 0 130px 0;
  }
}

.header {
  max-width: $desktopWidth;
  display: flex;
  margin: 0 auto 100px auto;
  justify-content: space-between;
  align-items: center;
  &__logo {
    position: relative;
    top: 20px;
    background-image: url("../images/firstScreen/logo.png");
    background-size: 180px 125px;
    background-repeat: no-repeat;
    width: 250px;
    height: 150px;
  }

  .menu {
    display: flex;
    align-items: center;
    &>a {
      box-sizing: border-box;
      padding: 5px;
      margin: 15px;
      font-size: 16px;
      &:hover {
        color: #2180FF;
        border-bottom: 2px solid #2180FF;
      }
    }

    .active {
      color: #2180FF;
      border-bottom: 2px solid #2180FF;
    }
  }

  .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &>* {
      display: flex;
      align-items: flex-end;;
      font-size: 16px;
    }
    .search {
      @include icon("../images/firstScreen/icons/search.png", 23px, 23px, false);
    }
    .phone {
      box-sizing: border-box;
      height: 45px;
      padding: 15px 30px;
      &:before {
        @include icon("../images/firstScreen/icons/phone.png", 13px, 19px);
        right: 5px;
      }
      &:after {
          @include icon("../images/firstScreen/icons/arr_down.png", 10px, 5px);
          left: 5px;
          bottom: 5px;
      }
    }
    .location {
      box-sizing: border-box;
      height: 45px;
      padding: 15px 30px;
      &:before {
        @include icon("../images/firstScreen/icons/location.png", 12px, 17px);
        right: 5px;
      }
      &:after {
        @include icon("../images/firstScreen/icons/arr_down.png", 10px, 5px);
        left: 5px;
        bottom: 5px;
      }
    }
  }

  @include desktop {
    max-width: $laptopWidth;
  }

  @include laptop {
    max-width: $tabletsWidth;
  }

  @include tablets {
    max-width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

.title {
  width: $desktopWidth;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 140px;

  &:before {
    @include icon("../images/firstScreen/icons/vertical_line.png", 2px, 180px, true, absolute);
    top: 13px;
    left: -15px;
  }
  h1 {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 50px;
  }

  p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    margin-bottom: 85px;
  }

  .buttons {
    display: flex;
    align-items: center;
    margin-bottom: 42px;
    &>* {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    .btn-send {
      width: 300px;
      height: 67px;
      border: 3px solid #006DFF;
      box-shadow: inset 1px 0 5px #4B87D8;
      border-radius: 20px;
      margin-right: 25px;
    }

    .btn-catalog {
      width: 242px;
      height: 61px;
      border: 2px solid rgba(191, 65, 69, 0.74);
      box-shadow: inset 1px 0 5px #BF4145;
      border-radius: 13px;
    }
  }

  .alertBlock {
    position: absolute;
    right: -175px;
    bottom: -50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 521px;
    height: 63px;

    background: rgba(0, 109, 255, 0.36);
    border-radius: 14px;

    padding-right: 30px;

    &__logo {
      @include icon("../images/firstScreen/small_logo.png", 42px, 50px, false);
      margin: 5px 15px;
    }
  }
}

.advantages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 35px;

  .block {
    position: relative;
    display: flex;
    flex-direction: column;

    &__nums {
      position: relative;
      font-size: 24px;
      margin-bottom: 10px;
      span {
        font-size: 48px;
      }
    }

    &__title {
      position: relative;
      margin-left: 25px;
      &:before{
        @include icon("../images/firstScreen/icons/triangle.png", 20px, 25px, true, absolute);
        top: -1px;
        left: -25px;
      }
    }
    &:nth-child(odd):before {
      @include icon("../images/firstScreen/icons/arr_right.png", 22px, 40px, true, absolute);
      top: 5px;
      left: -35px;
    }
    &:nth-child(even):before {
      @include icon("../images/firstScreen/icons/arr_circle.png", 31px, 31px, true, absolute);
      top: 10px;
      left: -35px;
    }
  }
}


.videoCtrl {
  position: absolute;
  right: 100px;
  bottom: 50px;
  width: $desktopWidth;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  &__play {
    @include icon("../images/firstScreen/icons/play.png", 40px, 40px);
    margin-right: 5px;
    cursor: pointer;
  }

  &__stop {
    @include icon("../images/firstScreen/icons/stop.png", 36px, 35px);
    cursor: pointer;
  }
}

.bgVideo {
  z-index: 1;
  @include icon("../images/firstScreen/svarka.jpg", 100%, 1000px, false, absolute);
  top: 0;
}
/* /FIRST SCREEN */

/* CATALOG */
.catalog {
  color: #fff;
  font-size: 16px;
  flex-direction: column;
  &__wrapper {
    background: #161C28;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &>* {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 172px;
      text-align: center;
      margin: 0 7px;
      &>p {
        line-height: 20px;
        margin-bottom: 45px;
      }
      /* CATALOG_LIST */
      .opori_tryboprovoda {
        @include icon("../images/catalog/opori_tryboprovoda.png", 116px, 112px, false);
      }
      .zakladnie_detali {
        @include icon("../images/catalog/zakladnie_detali.png", 116px, 112px, false);
      }
      .ankernie_tyagi {
        @include icon("../images/catalog/ankernie_tyagi.png", 116px, 112px, false);
      }
      .traversi {
        @include icon("../images/catalog/traversi.png", 116px, 112px, false);
      }
      .salniki {
        @include icon("../images/catalog/salniki.png", 116px, 112px, false);
      }
      .lestnici {
        @include icon("../images/catalog/lestnici.png", 116px, 112px, false);
      }
      .prozhektornie_machti {
        @include icon("../images/catalog/prozhektornie_machti.png", 116px, 112px, false);
      }
      .emkostnoe_oborydovanie {
        @include icon("../images/catalog/emkostnoe_oborydovanie.png", 116px, 112px, false);
      }
      .tbo {
        @include icon("../images/catalog/tbo.png", 116px, 112px, false);
      }
      .bolti {
        @include icon("../images/catalog/bolti.png", 116px, 112px, false);
      }
      .ory {
        @include icon("../images/catalog/ory.png", 116px, 112px, false);
      }
      .metallicheskie_formi {
        @include icon("../images/catalog/metallicheskie_formi.png", 116px, 112px, false);
      }
      .osvetitelnie_machti {
        @include icon("../images/catalog/osvetitelnie_machti.png", 116px, 112px, false);
      }
      .vl_lep {
        @include icon("../images/catalog/vl_lep.png", 116px, 112px, false);
      }
      .nestandart {
        @include icon("../images/catalog/nestandart.png", 116px, 112px, false);
      }
      .stroitelnie {
        @include icon("../images/catalog/stroitelnie.png", 116px, 112px, false);
      }
      .tehnologicheskie {
        @include icon("../images/catalog/tehnologicheskie.png", 116px, 112px, false);
      }
      .armatyra {
        @include icon("../images/catalog/armatyra.png", 116px, 112px, false);
      }
      .registri {
        @include icon("../images/catalog/registri.png", 116px, 112px, false);
      }
      .pryzhini {
        @include icon("../images/catalog/pryzhini.png", 116px, 112px, false);
      }
      .compensatori {
        @include icon("../images/catalog/compensatori.png", 116px, 112px, false);
      }
      &>div {
        border-radius: 18px;
        margin-bottom: 15px;
        background-position: 0 -2px;
        box-shadow: 5px 5px 2px 0 #171831;
      }
      /* /CATALOG_LIST */
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #006DFF;
    &>a {
      margin: 0 30px;
      position: relative;
      display: flex;
      align-items: center;
    }

    .request:before {
      @include icon("../images/catalog/icons/request.png", 20px, 20px, true, absolute);
      left: -30px;
    }
    .search:before {
      @include icon("../images/catalog/icons/search.png", 18px, 18px, true, absolute);
      left: -30px;
    }
    .tech:before {
      @include icon("../images/catalog/icons/tech.png", 17px, 16px, true, absolute);
      left: -30px;
    }
    .delivery:before {
      @include icon("../images/catalog/icons/delivery.png", 21px, 16px, true, absolute);
      left: -30px;
    }
    .contacts:before {
      @include icon("../images/catalog/icons/contacts.png", 13px, 19px, true, absolute);
      left: -25px;
    }
  }
}
/* /CATALOG */

/* SERVICES */
.services {
  color: #fff;
  font-size: 16px;
  flex-direction: column;
  &__wrapper {
    background: #161C28;
  }

  &__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &>.elem {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 172px;
      text-align: center;
      margin: 0 7px;
      margin-bottom: 15px;
      cursor: pointer;
    }
    .rezka {
      position: relative;
      display: block;
      width: 351px;
      height: 382px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(38.89deg, #020B17 11.26%, rgba(0, 109, 255, 0.64) 41.25%, rgba(0, 109, 255, 0) 84.63%);
        opacity: .7;
        z-index: 2;
      }

      &__img {
        @include icon("../images/services/rezka.png", 360px, 360px, false, absolute);
        top: 10px;
        left: -10px;
        z-index: 1;
      }

      &__title {
        font-size: 30px;
        line-height: 40px;
        font-weight: 300;
        position: absolute;
        bottom: 15px;
        left: 15px;
        z-index: 3;
      }
    }
    .metall {
      position: relative;
      display: block;
      width: 376px;
      height: 277px;
      align-self: flex-end;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(52.73deg, #4F205E 4.3%, rgba(79, 32, 94, 0) 96.19%);
        opacity: .7;
        z-index: 2;
      }

      &__img {
        @include icon("../images/services/metall.png", 315px, 152px, false, absolute);
        right: 15px;
        top: -11px;
        z-index: 1;
      }

      &__title {
        text-align: left;
        font-size: 18px;
        font-weight: 300;
        line-height: 20px;
        position: absolute;
        bottom: 50px;
        left: 12px;
        z-index: 3;
      }
    }
    .zink {
      position: relative;
      display: block;
      width: 337px;
      height: 343px;
      align-self: flex-end;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(40.87deg, #142E2B 15.88%, rgba(42, 154, 143, 0.35) 56.6%, rgba(18, 88, 81, 0) 93.02%);
        opacity: .7;
        z-index: 2;
      }

      &__img {
        @include icon("../images/services/zink.png", 300px, 230px, false, absolute);
        right: -10px;
        top: 20px;
        z-index: 1;
      }

      &__title {
        font-size: 36px;
        font-weight: 300;
        line-height: 49px;
        position: absolute;
        bottom: 4px;
        left: 26px;
        z-index: 3;
      }
    }
    .shlifovka {
      position: relative;
      display: block;
      width: 357px;
      height: 317px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(243.53deg, rgba(9, 140, 117, 0) 0%, #098C75 48.8%, rgba(9, 140, 117, 0) 88.89%);
        opacity: .7;
        z-index: 2;
      }

      &__img {
        @include icon("../images/services/shlifovka.png", 283px, 202px, false, absolute);
        right: 0;
        top: 10px;
        z-index: 1;
      }

      &__title {
        width: 220px;
        text-align: left;
        font-size: 30px;
        font-weight: 300;
        line-height: 31px;
        position: absolute;
        bottom: 38px;
        left: 23px;
        z-index: 3;
      }
    }
    .ceh {
      position: relative;
      display: block;
      width: 382px;
      height: 287px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(250.64deg, #153968 0.61%, rgba(75, 135, 216, 0.69) 43.26%, rgba(75, 135, 216, 0) 116.99%);
        opacity: .7;
        z-index: 2;
      }

      &__img {
        @include icon("../images/services/ceh.png", 318px, 222px, false, absolute);
        left: -5px;
        bottom: 0;
        z-index: 1;
      }

      &__title {
        width: 380px;
        text-align: left;
        font-size: 25px;
        font-weight: 300;
        line-height: 27px;
        position: absolute;
        top: 5px;
        right: -50px;
        z-index: 3;
      }
    }
    .tokarnaya {
      position: relative;
      display: block;
      width: 320px;
      height: 277px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(228.66deg, #583216 12.81%, #A06438 46.76%, rgba(160, 100, 56, 0) 87.36%);
        opacity: .7;
        z-index: 2;
      }

      &__img {
        @include icon("../images/services/tokarnaya.png", 320px, 208px, false, absolute);
        left: -5px;
        bottom: 0;
        z-index: 1;
      }

      &__title {
        width: 250px;
        color: #fff;
        text-align: left;
        display: block;
        font-size: 30px;
        font-weight: 300;
        line-height: 30px;
        position: absolute;
        top: 5px;
        right: -106px;
        z-index: 3;
      }
    }
  }
}
/* /SERVICES */

/* CALLBACK */
.callback {
  color: #fff;
  font-size: 16px;
  justify-content: space-between;
  &__wrapper {
    background: #161C28;
    padding-top: 50px;
  }

  &__form {
    width: 700px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    ::-webkit-input-placeholder { /* Chrome */
      color: #fff;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #fff;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: #fff;
      opacity: 1;
    }
    :-moz-placeholder { /* Firefox 4 - 18 */
      color: #fff;
      opacity: 1;
    }

    h2 {
      width: 300px;
      height: 63px;
      font-size: 36px;
      font-weight: 600;
      line-height: 49px;
      position: relative;
      bottom: 30px;
    }

    &>* {
      margin-top: 0;
      margin-bottom: 15px;
      font-size: 20px;
      background: transparent;
      color: white;
    }

    &>.smallBlock {
      width: 335px;
      height: 63px;
      box-sizing: border-box;
      border: 1px solid #fff;
      padding: 15px 30px;
    }

    &>.bigBlock {
      width: 100%;
      height: 63px;
      box-sizing: border-box;
      border: 1px solid #fff;
      padding: 15px 30px;
    }

    &>.submit {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      &>* {
        width: 220px;
        height: 54px;
        font-size: 20px;
        cursor: pointer;
        background: transparent;
        border: 1px solid #fff;
        padding: 15px 30px;
        color: white;
      }
    }
  }

  &__contacts {

  }
}
/* /CALLBACK */