/* GLOBAL */
body {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px; }

.notImplemented {
  display: none; }

.container {
  max-width: 1120px;
  margin: auto;
  display: flex;
  position: relative; }
  @media screen and (max-width: 1120px) {
    .container {
      max-width: 992px; } }
  @media screen and (max-width: 992px) {
    .container {
      max-width: 768px; } }
  @media screen and (max-width: 768px) {
    .container {
      max-width: 480px; } }
  @media screen and (max-width: 480px) {
    .container {
      max-width: 100%;
      padding: 10px; } }

.titleBlock {
  align-self: center;
  width: 1120px;
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .titleBlock h2 {
    color: #E9F2FF;
    position: relative;
    font-size: 36px; }
    .titleBlock h2:before {
      content: '';
      position: relative;
      display: block;
      background-image: url("../images/horizontal_line.png");
      -webkit-background-size: cover;
      background-size: cover;
      width: 200px;
      height: 2px;
      top: 45px; }
  .titleBlock p {
    position: relative;
    font-size: 16px;
    font-weight: 300;
    line-height: 21px;
    width: 638px; }
    .titleBlock p:before {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/small_vertical_line.png");
      -webkit-background-size: cover;
      background-size: cover;
      width: 2px;
      height: 100px;
      left: -10px; }

/* /GLOBAL */
/* FIRST SCREEN */
.firstScreenWrapper {
  position: relative;
  z-index: 999;
  color: white;
  background: rgba(40, 46, 58, 0.9);
  padding: 0 0 130px 0;
  overflow: hidden;
  height: 1000px;
  box-sizing: border-box; }
  @media screen and (max-width: 480px) {
    .firstScreenWrapper {
      padding: 10px 0 130px 0; } }

.header {
  max-width: 1120px;
  display: flex;
  margin: 0 auto 100px auto;
  justify-content: space-between;
  align-items: center; }
  .header__logo {
    position: relative;
    top: 20px;
    background-image: url("../images/firstScreen/logo.png");
    background-size: 180px 125px;
    background-repeat: no-repeat;
    width: 250px;
    height: 150px; }
  .header .menu {
    display: flex;
    align-items: center; }
    .header .menu > a {
      box-sizing: border-box;
      padding: 5px;
      margin: 15px;
      font-size: 16px; }
      .header .menu > a:hover {
        color: #2180FF;
        border-bottom: 2px solid #2180FF; }
    .header .menu .active {
      color: #2180FF;
      border-bottom: 2px solid #2180FF; }
  .header .contacts {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .header .contacts > * {
      display: flex;
      align-items: flex-end;
      font-size: 16px; }
    .header .contacts .search {
      position: relative;
      display: block;
      background-image: url("../images/firstScreen/icons/search.png");
      -webkit-background-size: cover;
      background-size: cover;
      width: 23px;
      height: 23px; }
    .header .contacts .phone {
      box-sizing: border-box;
      height: 45px;
      padding: 15px 30px; }
      .header .contacts .phone:before {
        content: '';
        position: relative;
        display: block;
        background-image: url("../images/firstScreen/icons/phone.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 13px;
        height: 19px;
        right: 5px; }
      .header .contacts .phone:after {
        content: '';
        position: relative;
        display: block;
        background-image: url("../images/firstScreen/icons/arr_down.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 10px;
        height: 5px;
        left: 5px;
        bottom: 5px; }
    .header .contacts .location {
      box-sizing: border-box;
      height: 45px;
      padding: 15px 30px; }
      .header .contacts .location:before {
        content: '';
        position: relative;
        display: block;
        background-image: url("../images/firstScreen/icons/location.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 12px;
        height: 17px;
        right: 5px; }
      .header .contacts .location:after {
        content: '';
        position: relative;
        display: block;
        background-image: url("../images/firstScreen/icons/arr_down.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 10px;
        height: 5px;
        left: 5px;
        bottom: 5px; }
  @media screen and (max-width: 1120px) {
    .header {
      max-width: 992px; } }
  @media screen and (max-width: 992px) {
    .header {
      max-width: 768px; } }
  @media screen and (max-width: 768px) {
    .header {
      max-width: 100%;
      flex-direction: column;
      align-items: center; } }

.title {
  width: 1120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 140px; }
  .title:before {
    content: '';
    position: absolute;
    display: block;
    background-image: url("../images/firstScreen/icons/vertical_line.png");
    -webkit-background-size: cover;
    background-size: cover;
    width: 2px;
    height: 180px;
    top: 13px;
    left: -15px; }
  .title h1 {
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 50px; }
  .title p {
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    margin-bottom: 85px; }
  .title .buttons {
    display: flex;
    align-items: center;
    margin-bottom: 42px; }
    .title .buttons > * {
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer; }
    .title .buttons .btn-send {
      width: 300px;
      height: 67px;
      border: 3px solid #006DFF;
      box-shadow: inset 1px 0 5px #4B87D8;
      border-radius: 20px;
      margin-right: 25px; }
    .title .buttons .btn-catalog {
      width: 242px;
      height: 61px;
      border: 2px solid rgba(191, 65, 69, 0.74);
      box-shadow: inset 1px 0 5px #BF4145;
      border-radius: 13px; }
  .title .alertBlock {
    position: absolute;
    right: -175px;
    bottom: -50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 521px;
    height: 63px;
    background: rgba(0, 109, 255, 0.36);
    border-radius: 14px;
    padding-right: 30px; }
    .title .alertBlock__logo {
      position: relative;
      display: block;
      background-image: url("../images/firstScreen/small_logo.png");
      -webkit-background-size: cover;
      background-size: cover;
      width: 42px;
      height: 50px;
      margin: 5px 15px; }

.advantages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 35px; }
  .advantages .block {
    position: relative;
    display: flex;
    flex-direction: column; }
    .advantages .block__nums {
      position: relative;
      font-size: 24px;
      margin-bottom: 10px; }
      .advantages .block__nums span {
        font-size: 48px; }
    .advantages .block__title {
      position: relative;
      margin-left: 25px; }
      .advantages .block__title:before {
        content: '';
        position: absolute;
        display: block;
        background-image: url("../images/firstScreen/icons/triangle.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 20px;
        height: 25px;
        top: -1px;
        left: -25px; }
    .advantages .block:nth-child(odd):before {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/firstScreen/icons/arr_right.png");
      -webkit-background-size: cover;
      background-size: cover;
      width: 22px;
      height: 40px;
      top: 5px;
      left: -35px; }
    .advantages .block:nth-child(even):before {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/firstScreen/icons/arr_circle.png");
      -webkit-background-size: cover;
      background-size: cover;
      width: 31px;
      height: 31px;
      top: 10px;
      left: -35px; }

.videoCtrl {
  position: absolute;
  right: 100px;
  bottom: 50px;
  width: 1120px;
  display: flex;
  align-items: center;
  justify-content: flex-end; }
  .videoCtrl__play {
    content: '';
    position: relative;
    display: block;
    background-image: url("../images/firstScreen/icons/play.png");
    -webkit-background-size: cover;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    cursor: pointer; }
  .videoCtrl__stop {
    content: '';
    position: relative;
    display: block;
    background-image: url("../images/firstScreen/icons/stop.png");
    -webkit-background-size: cover;
    background-size: cover;
    width: 36px;
    height: 35px;
    cursor: pointer; }

.bgVideo {
  z-index: 1;
  position: absolute;
  display: block;
  background-image: url("../images/firstScreen/svarka.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 1000px;
  top: 0; }

/* /FIRST SCREEN */
/* CATALOG */
.catalog {
  color: #fff;
  font-size: 16px;
  flex-direction: column; }
  .catalog__wrapper {
    background: #161C28; }
  .catalog__block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .catalog__block > * {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 172px;
      text-align: center;
      margin: 0 7px;
      /* CATALOG_LIST */
      /* /CATALOG_LIST */ }
      .catalog__block > * > p {
        line-height: 20px;
        margin-bottom: 45px; }
      .catalog__block > * .opori_tryboprovoda {
        position: relative;
        display: block;
        background-image: url("../images/catalog/opori_tryboprovoda.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .zakladnie_detali {
        position: relative;
        display: block;
        background-image: url("../images/catalog/zakladnie_detali.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .ankernie_tyagi {
        position: relative;
        display: block;
        background-image: url("../images/catalog/ankernie_tyagi.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .traversi {
        position: relative;
        display: block;
        background-image: url("../images/catalog/traversi.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .salniki {
        position: relative;
        display: block;
        background-image: url("../images/catalog/salniki.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .lestnici {
        position: relative;
        display: block;
        background-image: url("../images/catalog/lestnici.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .prozhektornie_machti {
        position: relative;
        display: block;
        background-image: url("../images/catalog/prozhektornie_machti.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .emkostnoe_oborydovanie {
        position: relative;
        display: block;
        background-image: url("../images/catalog/emkostnoe_oborydovanie.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .tbo {
        position: relative;
        display: block;
        background-image: url("../images/catalog/tbo.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .bolti {
        position: relative;
        display: block;
        background-image: url("../images/catalog/bolti.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .ory {
        position: relative;
        display: block;
        background-image: url("../images/catalog/ory.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .metallicheskie_formi {
        position: relative;
        display: block;
        background-image: url("../images/catalog/metallicheskie_formi.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .osvetitelnie_machti {
        position: relative;
        display: block;
        background-image: url("../images/catalog/osvetitelnie_machti.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .vl_lep {
        position: relative;
        display: block;
        background-image: url("../images/catalog/vl_lep.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .nestandart {
        position: relative;
        display: block;
        background-image: url("../images/catalog/nestandart.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .stroitelnie {
        position: relative;
        display: block;
        background-image: url("../images/catalog/stroitelnie.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .tehnologicheskie {
        position: relative;
        display: block;
        background-image: url("../images/catalog/tehnologicheskie.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .armatyra {
        position: relative;
        display: block;
        background-image: url("../images/catalog/armatyra.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .registri {
        position: relative;
        display: block;
        background-image: url("../images/catalog/registri.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .pryzhini {
        position: relative;
        display: block;
        background-image: url("../images/catalog/pryzhini.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * .compensatori {
        position: relative;
        display: block;
        background-image: url("../images/catalog/compensatori.png");
        -webkit-background-size: cover;
        background-size: cover;
        width: 116px;
        height: 112px; }
      .catalog__block > * > div {
        border-radius: 18px;
        margin-bottom: 15px;
        background-position: 0 -2px;
        box-shadow: 5px 5px 2px 0 #171831; }
  .catalog__links {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    color: #006DFF; }
    .catalog__links > a {
      margin: 0 30px;
      position: relative;
      display: flex;
      align-items: center; }
    .catalog__links .request:before {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/catalog/icons/request.png");
      -webkit-background-size: cover;
      background-size: cover;
      width: 20px;
      height: 20px;
      left: -30px; }
    .catalog__links .search:before {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/catalog/icons/search.png");
      -webkit-background-size: cover;
      background-size: cover;
      width: 18px;
      height: 18px;
      left: -30px; }
    .catalog__links .tech:before {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/catalog/icons/tech.png");
      -webkit-background-size: cover;
      background-size: cover;
      width: 17px;
      height: 16px;
      left: -30px; }
    .catalog__links .delivery:before {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/catalog/icons/delivery.png");
      -webkit-background-size: cover;
      background-size: cover;
      width: 21px;
      height: 16px;
      left: -30px; }
    .catalog__links .contacts:before {
      content: '';
      position: absolute;
      display: block;
      background-image: url("../images/catalog/icons/contacts.png");
      -webkit-background-size: cover;
      background-size: cover;
      width: 13px;
      height: 19px;
      left: -25px; }

/* /CATALOG */

/*# sourceMappingURL=index.css.map */
