$headerBgColor: #282E3A;
$headerSecondaryColor: #6f11ff;

$bodyColor: #ffffff;
$bodySecondaryColor: #f7f6fe;

$alertColor: #ff5f60;
$greyColor: #a9a5a5;
$shadowColor: #183251;

$desktopWidth: 1120px;
$laptopWidth: 992px;
$tabletsWidth: 768px;
$phonesWidth: 480px;

@mixin icon($link, $w, $h, $isBefore:true, $pos:relative) {
  @if $isBefore {
    content: '';
  }
  position: $pos;
  display: block;
  background-image: url($link);
  -webkit-background-size: cover;
  background-size: cover;
  width: $w;
  height: $h;
}

@mixin desktop {
  @media screen and (max-width: $desktopWidth) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: $laptopWidth) {
    @content;
  }
}
@mixin tablets {
  @media screen and (max-width: $tabletsWidth) {
    @content;
  }
}
@mixin phones {
  @media screen and (max-width: $phonesWidth) {
    @content;
  }
}